body {
  font: 36px "Century Gothic", Futura, sans-serif;
  margin: 60px;
}

.calc-row:after {
  clear: both;
  content: "";
}

.calcbutton {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  border: 1px solid #000;
  -moz-box-shadow:    inset 0 0 10px #CCCCCC;
  -webkit-box-shadow: inset 0 0 10px #CCCCCC;
  box-shadow:         inset 0 0 10px #CCCCCC;
  border-radius: 10px;
  font-size: 36px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.delbutton {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  border: 1px solid #000;
  -moz-box-shadow:    inset 0 0 10px #CCCCCC;
  -webkit-box-shadow: inset 0 0 10px #CCCCCC;
  box-shadow:         inset 0 0 10px #CCCCCC;
  border-radius: 10px;
  font-size: 36px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 163px;
}

.display {
  background: #fff;
  border: 1px solid #000;
  font-size: 36px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: 1px;
  padding: 0px 20px 0px 0px;
  text-align: right;
  width: 309px; /* 4 * 80 + 9 - 20 = 309 */
}

.calcbutton:focus {
  outline-width: inset 1px;
  outline-color: rgb(14, 106, 243)
}

.kbd-navigation .calcbutton:focus {
  outline-width: inset 1px;
  outline-color: rgb(14, 106, 243)
}

.delbutton:focus {
  outline-width: inset 1px;
  outline-color: rgb(14, 106, 243)
}

.kbd-navigation .delbutton:focus {
  outline-width: inset 1px;
  outline-color: rgb(14, 106, 243)
}

.calculator {
  overflow:auto;
  white-space:nowrap;
  display: block;
  flex-direction: column;
}

.calculator-display {
  overflow:auto;
  white-space:nowrap;
  display: flex;
  flex-direction: row;
}

.history-display {
  overflow:auto;
  white-space:nowrap;
  display: block;
  flex-direction: column;
  width: 585px; /* 379 + 163 + 20 + 20 + 3 = 544 */
}

.history-title {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  border: 1px solid #000;
  float: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0;
  text-align: center;
  width: 500px; /* 379 + 100 + 20 + 1 = 500*/
}

.history-data {
  display: block;
  flex-direction: column;
  background: #fff;
  border: 1px solid #000;
  float: left;
  font-weight: bold;
  line-height: 80px;
  height: 495px; /* 10 * 49 = 490 (add 5)*/
  margin-right: 0px;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 10px;
  text-align: right;
  width: 379px; /* 4 * 80 + 9 - 10 = 319 */
}

.history-user {
  display: block;
  flex-direction: column;
  background: #fff;
  border: 1px solid #000;
  float: left;
  font-weight: bold;
  line-height: 80px;
  height: 495px; /* 10 * 49 = 490 (add 5)*/
  margin-right: 0px;
  margin-top: 0px;
  margin-left: -1px;
  margin-bottom: 0px;
  padding: 0px 10px 0px 0px;
  text-align: left;
  width: 100px;
}

.historyelement {
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 48px;
  height: 48px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  text-align: right;
  width: 369px; /* 4 * 80 + 9 - 10 = 319 */
}

.user {
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 48px;
  height: 48px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  width: 89px; /* 100 - 10 - 1 = 89 */
}